html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font: 400 16px/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}
